/* ----- contact form 7 start ----- */
#am-cf7 .wpcf7-form-control {
	width: 100%;
}

#am-cf7 .wpcf7 input,
#am-cf7 .wpcf7 textarea,
#am-cf7 .wpcf7 select
{
	background-color: #eee;
	border: none!important;
	width: 100%;
	border-radius: 0 !important;
	font-size: 14px;
	color: #999 !important;
	padding: 16px !important;
	box-sizing: border-box;
}

#am-cf7 .wpcf7 input.wpcf7-submit {
	font-size: 15px;
	width: 200px;
	border: 1px;
	height: auto;
	padding:10px !important;

	float: right;
	border: 2px solid;
	border-radius: 3px;
	
	color: #000000 !important;
	/*
	background: #902B23 !important;
	color: #ffffff !important;
	*/

}


#am-cf7 .et_pb_section_5 .et_pb_row.et_pb_row_fullwidth {
	width: 100% !important;
	max-width: 100% !important;
}

@media only screen and (min-width: 981px) {
	#am-cf7	.et_pb_gutters3 .et_pb_column_4_4 .et_pb_grid_item {
	width: 24.999% !important;
	margin: 0px !important;
}
}
/* ----- contact form 7 end ----- */



/* ----- booking form start ----- */
#am-bf .rtb-booking-form legend
{
	font-family: 'Pacifico', cursive;
	font-size: 22px;
	color: #333;
	/*padding-bottom: 10px;*/
	line-height: 1em;
	font-weight: 500;
	padding:0; !important;
}

#am-bf .rtb-booking-form input,
#am-bf .rtb-booking-form textarea,
#am-bf .rtb-booking-form select
{
	background-color: #eee;
	border: none!important;
	width: 100% !important;
	border-radius: 0 !important;
	font-size: 14px;
	color: #999 !important;
	padding: 16px !important;
	box-sizing: border-box;
}

#am-bf .rtb-booking-form .date,
#am-bf .rtb-booking-form .time
{
	float:left;
	margin-right:40px;
}
#am-bf .rtb-booking-form .party {
	float:left;
}

#am-bf .rtb-booking-form .name input,
#am-bf .rtb-booking-form .email input,
#am-bf .rtb-booking-form .phone input,
#am-bf .rtb-booking-form textarea,
#am-bf .rtb-booking-form textarea#rtb-message
{
	max-width:100%
}

/*
#am-bf .rtb-booking-form button
{
	background: rgba( 0, 0, 0, 0.05 );
	border: 2px solid transparent;	
	font-family: inherit;
	display: block;
	float: right;
	margin: 8px auto 0;
	cursor: pointer;	
	font-size: 20px;
	font-weight: 500;
	line-height: 1.7em;

	color: #7ebec5 !important;
}*/

#am-bf .rtb-booking-form button
{
	font-size: 15px;
	width: 200px;
	border: 1px;
	height: auto;
	padding:10px !important;
	
	background: #eeeeee;
	color: #000000;
	/*
	background: #902B23;
	color: #ffffff;
	*/	
}

#am-bf .entry-content ul {
	padding: 0 16px 12px 16px;
}
/* ----- booking form end ----- */